<footer class="footer">
  <div class="footer__links">
    <div>
      <h4>회사</h4>
      <a href="#">회사소개</a>
      <a href="#">채용</a>
      <a href="#">제휴 문의</a>
    </div>
    <div>
      <h4>서비스</h4>
      <a href="#">강의찾기</a>
      <a href="#">커뮤니티</a>
      <a href="#">이벤트</a>
    </div>
    <div>
      <h4>정책</h4>
      <a href="#">이용약관</a>
      <a href="#">개인정보처리방침</a>
    </div>
    <div>
      <h4>고객센터</h4>
      <a href="tel:1544-9044">1544-9044</a>
      <a href="#">월-금 10:00~18:00</a>
    </div>
  </div>
  <p class="footer__copy">© 2025 LEVEL-UP. All rights reserved.</p>
</footer>
